---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - zack.trains.io
  resources:
  - z21s
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - zack.trains.io
  resources:
  - z21s/finalizers
  verbs:
  - update
- apiGroups:
  - zack.trains.io
  resources:
  - z21s/status
  verbs:
  - get
  - patch
  - update
